.header-select{
    background-color: #42C6DA;
    margin: 0px 10px;
    color: white;
    font-size: smaller;
    border-radius: 6px;
    padding: 5px;
}

.no-data {
    position: relative;
    height: 400px;
    border: 1px solid grey;
  }
  
  .no-data p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  